.section {
    padding: 0 104px;
}

.title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 42px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}